.btnStyle {
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  height: 10%;
  width: 20%;
  padding: 1rem;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  background: linear-gradient(0deg, #181818, transparent 50%);
}
.modalContainer {
  padding: 10px 10px 20px 20px;
  align-items: center;
  gap: 4px;
}

.stackContainer {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 23%;
  justify-content: center;
  height: auto;
  z-index: 1;
}

.line {
  width: 1px;
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
}