.btnStyle {
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  height: 10%;
  width: 20%;
  padding: 1rem;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  background: linear-gradient(0deg, #181818, transparent 50%);
}
.modalContainer {
  margin-left: 40px;
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 15px;
  align-items: flex-start;
  gap: 4px;
  flex-direction: row;
  justify-content: space-between;
}

.stackContainer {
  position: absolute;
  top: 40%;
  left: 5%;
  width: 23%;
  justify-content: center;
  height: auto;
  z-index: 1;
}

.line {
  width: 1px;
  height: 100%;
  background: #fff;
  margin: 0;
  padding: 0;
}

.seeMoreMovie{
  flex-direction: column;
}

.listItems {
  color: white;
  font-size: 13px;
}

.listItems:hover {
  text-decoration: underline;
}