.blockClick {
  pointer-events: none;
  width: 100% !important;
  height: 72% !important;
  overflow: hidden;
}

.landingContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}

.stackContainer {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 23%;
  justify-content: center;
  height: auto;
  z-index: 1;
}

.btnStyle {
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  height: 10%;
  width: 20%;
  padding: 1rem;
  width: max-content !important;
  background-color: #181818;
  color: white;
  max-width: 100%;
}

.blur {
  filter: contrast(88%) brightness(72%);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  opacity: 1;
  overflow: hidden;
  background: linear-gradient(0deg, #181818, transparent 50%)
}

.fadeInContainer {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 150ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}