.blockClick {
  pointer-events: none;
  width: 100% !important;
  height: 72% !important;
}

.landingContainer {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 100;
}

.stackContainer {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 23%;
  justify-content: center;
  height: auto;
  z-index: 1;
}

.btnStyle {
  justify-content: center;
  align-items: center;
  margin-top: 0 !important;
  height: 10%;
  width: 20%;
  padding: 1rem;
  width: max-content !important;
}

.blur {
  filter: contrast(88%) brightness(72%);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72% !important;
  opacity: 1;
  overflow: hidden;
  background: linear-gradient(0deg, #181818, transparent 50%)
}