/* const boxSettings = {
  borderRadius: 'lg',
  position: 'relative',
  cursor: 'pointer',
  width: 'max-content',
  borderStyle: 'none',
  as: 'article',
  ml: 2,
  mr: 2,
  mt: 5,
}


const Blur = {
  filter:'blur(2px) contrast(75%) brightness(50%)',
  transform:'scale(1.1)',
  transition:'all 0.3s ease-in-out',
  zIndex: '-1',
}

const unBlur = {
  filter:'blur(0px) contrast(1)',
  transform:'scale(1)',
  transition:'all 0.3s ease-in-out',
  zIndex: '-1',
} */