/* const boxSettings = {
  borderRadius: 'lg',
  position: 'relative',
  cursor: 'pointer',
  width: 'max-content',
  borderStyle: 'none',
  as: 'article',
  ml: 2,
  mr: 2,
  mt: 5,
} */

/* .image {
  float: left;
  object-fit: 'cover';
  width: '100%';
  height: '100%';

} */

.boxSettings {
  position: relative;
  cursor: pointer;
  border-style: none;
  margin-top: 10px;
}