body {
  background-color: #181818 !important;
  scroll-behavior: auto;
}

.swiperContainer {
  position: absolute;
  width: 100%;
  z-index: 100;
}

.galerie {
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 100% !important;
}

.searchContainer {
  position: absolute;
  top: 13%;
  margin-left: 55px;
  margin-right: 55px;
  left: 4%;
}

.watchMovie {
  width: 100% !important;
  min-height: 100vh !important;
}
