body {
  background-color: #181818 !important;
  scroll-behavior: auto;
}

.swiperContainer {
  margin-left: 55px;
  margin-right: 55px;
  position: absolute;
  max-width: 92.3612%;
  top: 67%;
  z-index: 100;
}

.galerie {
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: max-content !important;
}