.boxSettings {
  position: relative;
  cursor: pointer;
  border-style: none;
  margin-top: 10px;
}

.fadeInContainer {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 150ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}